body {
    background-image: url("../images/black.jpg");
}

#page-wrapper {
    width: 960px;
    margin: 0 auto;
    border-radius: 12px 12px 0px 0px; 
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1); 
}

#header {
    position: relative;
    margin-top: 40px;
    border-radius: 12px 12px 0px 0px; 
}

#header h1 {
    position: absolute;
    top:5px;
    left: 420px;
    font-size: 3em;
    color: #E35335;
    font-family: 'Devonshire', cursive;
}

#header a#logo1 img {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#header #toplink {
    top:-34px;
    position: absolute;
    font-size: 1.8em;
    right: 10px;
    color: white;
    text-decoration: none;
}

#footer {
    background-color: #777;
    height: 80px;
    clear: both;
}

h2 strong {
    font-size: 2em;
    font-weight: 900;
}

#content-wrapper {
    background-image: url("../images/repeating.png");
    float: left;
}

#main-content {
    margin-right: 30px;
    width: 715px;
    min-height: 300px;
    margin-left: 15px;
    float: left;
}

.image-r {
    float: right;
    border: 2px solid blue;
    width: 300px;
    padding: 5px;
    background-color: white;
    margin: 10px 0 10px 20px;
}

#side-content {
    float: left;
    width: 200px;
    min-height: 150px;
}

#main-nav {
    float: left;
    width: 100%;
    background-color: #333;
}

#main-nav ul {
    float: left; 
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left:50%;
}

#main-nav ul li {
    float: left;
    position: relative;
    right: 50%;
}

#main-nav ul li a {
    color: #ccc;
    display: block;
    padding: 10px 25px;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #ccc;
    color: #333;
}

#center {
    width: 960px;
    text-align: center;
}

strong {
    font-size: 48px;
    font-weight: 900;
}